.corpoDaPagina{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.menuLateral{
    height: 90vh;
    width: 2vw;
    background-color: gray;
    color: gray;
    font-size: 0px;
    transition: width 0.5s, color 2s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuLateral:hover{
    width: 10vw;
    color: black;
    font-size: 15pt;

}

.menuLateral li{
    padding: 20px 0px;
}

.telaInicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88vw;
}









/* :root{
    --cor-primaria: #fff;
    --cor-secundaria: #fff;
    --cor-terciaria: #8C8C8C;
    --cor-quartenaria: #A6A6A6;
    --cor-quintenaria: #BFBFBF;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor-primaria);
    color: #363636;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    
}

article{
    width: 30%;
    background-color: var(--cor-secundaria);
    margin: 8px;
    
}

#containerSinaleiros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinaleiros{
    width: 75px;
    height: 75px;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 4px;
}

.sinaleiros{
    width: 75px;
    height: 75px;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 4px;
}

#sensoresAcionados .sinaleiros{
    background-color:rgb(49, 141, 49);
}

h1{
    font-size: 24px;
    font-weight: bold;
    margin:16px
}

h2{
    font-size: 18px;
    font-weight: bold;
    margin:16px
}
 */
